@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');

body {
  text-align: center;
  color:#fff;
  padding-top:10em;
  font-family: 'Titillium Web', sans-serif;
  padding: 0px; 
  /* IE10 Consumer Preview */ 
background-color: rgb(34, 33, 33);
}



* { color:#fff; text-decoration: none;}
.cambria{
    margin: 50px auto;
}
#logo-container svg {
    width: 250px;
    height: auto;
  }
  
  @media only screen and (max-width: 768px) {
    #logo-container svg {
      width: 150px;
      height: auto;
    }  
  }